<h1>Account Settings</h1>
Manage your accounts here.

<div class="containerButton">
    <span>+ Add Account</span>
</div>

<h2>Accounts</h2>

<div class="containerButton flex-container-row">
    <img src="https://minotar.net/avatar/da2bd098e4644643a6901a23295af0e8/100.png" class="flex-item" />
    <div class="flex-item-auto flex-container-col flex-justify-space-evenly">
        <div class="flex-item">
            <h3>Username</h3>
            <div>xalcon</div>
        </div>
        <div class="flex-item">
            <h3>UUID</h3>
            <div>da2bd098e4644643a6901a23295af0e8</div>
        </div>
    </div>
    <div class="flex-item flex-container-col flex-justify-space-between">
        <div class="flex-item">Selected Account</div>
        <button class="flex-item removeButton">Remove Account</button>
    </div>
</div>