<div id="options" class="flex-container-row flex-item-auto content-container">
    <nav class="flex-item">
        <h1>Settings</h1>
        <button class="active">Accounts</button>
        <button>Minecraft</button>
        <button>Java</button>
        <button>Launcher</button>
        <hr />
        <button id="btnOptionsDone">Done</button>
    </nav>
    <div class="flex-item-auto scrollable">
        <% include options-accounts.ejs %>
    </div>
</div>