@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('options.css');

body, html {
    margin: 0px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    height: 100%;
    max-height: 100vh;
}

body {
    background: url('../images/background1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.hidden {
    display: none !important;
}

.window-dragger {
    -webkit-app-region: drag;
}

.disable-win-drag {
    -webkit-app-region: no-drag;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.justify-center {
    align-content: center;
    justify-content: center;
}

.flex-justify-space-evenly {
    justify-content: space-evenly
}

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-container-col, .flex-container-row {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    flex-direction: row;
}

.flex-item {
    flex: 0 0 auto;
}

.flex-item-auto {
    flex: 1 1 auto;
}

#titlebar {
    height: 27px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 5px;
    -webkit-user-drag: none;
}

#titlebarText {
    color: gray;
    font-weight: bold;
}

#titleBar_buttonDock {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.titleBarButton {
    background: none;
    border: none;
    width: 45px;
    cursor: pointer;
    height: 27px;
}
.titleBarButton:hover,
.titleBarButton:focus {
    background: rgba(189, 189, 189, 0.43);
}
.titleBarButton:active {
    background: rgba(156, 156, 156, 0.43);
}
.titleBarButton:focus {
    outline: 0px;
}

#titleBarButton_close:hover,
#titleBarButton_close:focus {
    background: rgba(255, 53, 53, 0.61) !important;
}
#titleBarButton_close:active {
    background: rgba(235, 0, 0, 0.61) !important;
}

#news {
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#options {
    background: rgba(0, 0, 0, 0.2);
}

#footer {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 5px;
    padding: 5px;
}

#currentPlayerAvatar {
    width: 64px;
    height: 64px;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
    border: 1px solid gray;
    align-self: center;
    margin: 4px;
}


#currentPlayerAvatar:hover {
    border-color: white;
    cursor: pointer;
}

.scrollable
{
	float: left;
	overflow-y: auto;
}

.scrollable::-webkit-scrollbar-track
{
	background-color: rgba(0, 0, 0, 0.2);
}

.scrollable::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(0, 0, 0, 0.2);
}

.scrollable::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

#actions {
    margin-left: 10px;
}

#actions button {
    margin: 4px;
}

#progressInfo .label {
    margin-left: 5px;
}

/**
* Progress Bar Styling by
* http://cssdeck.com/labs/styling-html5-progress-bars
*/

progress {
    height: 14px;
    margin: 3px;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
    border: none;
    width: 100%;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #6648ba, #942dc4);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
}

/* Button */
.glassButton {
	box-shadow:inset 0px 28px 0px -15px #2b2b2b;
	background:linear-gradient(to bottom, #000000 5%, #262626 100%);
	background-color:#000000;
	border:1px solid #424242;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px -1px 0px #8f8f8f;
}
.glassButton:hover {
	background:linear-gradient(to bottom, #262626 5%, #000000 100%);
	background-color:#262626;
}
.glassButton:active {
	position:relative;
	top:1px;
}