#options {
    margin: 0 50px;
}

#options nav {
    width: 100px;
    margin-right: 20px;
}

#options nav button {
    background: transparent;
    border: 0;
    color: gray;
    margin: 10px;
}

#options nav button:hover, #options nav button.active {
    text-shadow: 0 0 2px white;
    color: white;
}

#options nav hr {
    border: 0;
    border-top: 1px solid white;
    width: 80%;
}

#options .containerButton:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

#options .containerButton {
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#options .containerButton h3 {
    margin: 0;
}

#options .containerButton img {
    margin-right: 10px;
    width: 96px;
    height: 96px;
}

.removeButton {
    border: 1px solid tomato;
    color: tomato;
    padding: 3px;
    background: transparent;
}

.removeButton:hover {
    border: 1px solid red;
    box-shadow: 0 0 5px 0 tomato;
    cursor: pointer;
}